:root {
  --azulBase: #324f9e;
  --naranja: #efb813;
  --naranjaSuave: #efce6a;
  --naranjaOscuro: #876307;
  --gris: #e3e3e3;
  --grisOscuro: #4c4c4c;
  --negro: #000000;
  --blanco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

body {
  background-color: var(--gris);
}

/* GLOBAL */
.button {
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  background-color: #059862;
  border-radius: 7px;
  cursor: pointer;
}

/* INICIO/HOME */
.infoBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: var(--azulBase);
  color: #fff;
}
.infoBar--box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.infoBar--text {
  margin-bottom: 0;
}

.header {
  background-color: var(--blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.header--logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header--logo img {
  width: auto;
  height: 95px;
  padding: 1rem;
}
.header--logo-text {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: var(--azulBase);
}
.header--link {
  color: var(--grisOscuro);
  font-weight: 500;
  padding: 2rem;
  text-decoration: none;
}
.header--link p {
  margin-bottom: 0;
}
.header--link:hover {
  color: var(--negro);
  text-decoration: underline;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}
.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.carousel-overlay h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}
.carousel-overlay p {
  font-size: 1.5rem;
}
.carousel-inner img {
  height: 550px;
  object-fit: cover;
  filter: brightness(60%);
}

.mainContainer {
  margin: 4rem 2rem 2rem 2rem;
  text-align: center;
}
.mainContainer--title {
  font-weight: 800;
  font-size: 3rem;
  color: var(--naranjaOscuro);
}
.mainContainer--subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

.card-img-top {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/* FOOTER */
.footer {
  background: var(--azulBase);
  border-radius: 6px;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 20px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: #fff;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}
.footer-col form {
  display: flex;
  gap: 5px;
}
.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}
.footer-col input::placeholder {
  color: #ccc;
}
.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}
.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}
.footer-col .icons i {
  color: #afb6c7;
}
.footer-col .icons i:hover {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }
  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }
  .footer-col form {
    display: block;
  }
  .footer-col form :where(input, button) {
    width: 100%;
  }
  .footer-col form button {
    margin: 10px 0 0 0;
  }
}

/* 
 *
 *
 * 
 * LOGIN PAGE 
 *
 *
 */
.login-body {
  background: rgba(235, 238, 255, 1);
  background: -moz-linear-gradient(left, rgb(232, 236, 255) 0%, rgba(255, 255, 255, 1) 100%);
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* 
 *
 *
 * 
 * COTIZAR PAGE 
 *
 *
 */
.formsContainer--text {
}

.carousel-inner .imagenCotizar {
  height: 350px;
  object-fit: cover;
  filter: brightness(60%);
}

.recomendadosImg {
  height: 300px;
}

.destinosCustom {
}

/*
 *
 *
 *
 * ADMIN VIEW 
 *
 *
 */
.dashboardContainer {
  display: flex;
  height: 100vh;
}

.dashboardSidebar {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.dashboardSidebar .logo img {
  width: 200px;
  height: auto;
  padding-bottom: 3rem;
}

.menu {
  flex-grow: 1;
}
.menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
.menu a:hover {
  background-color: var(--naranjaSuave);
  color: var(--azulBase);
}
.menu a i {
  margin-right: 10px;
}

/*
 *
 * 
 * ACERCA DE NOSOTROS PÁGINA
 *
 *
 */
.hero-section {
  background-color: var(--naranjaSuave);
  color: var(--blanco);
  padding: 50px 20px;
  text-align: center;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.2rem;
  margin-top: 10px;
}

.about-content {
  padding: 50px 20px;
}

.about-content .card {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-content .card img {
  border-radius: 5px;
}

.team-section {
  background-color: var(--naranjaSuave);
  color: var(--negro);
  padding: 50px 20px;
  text-align: center;
}

.team-section h2 {
  color: var(--naranjaOscuro);
  margin-bottom: 30px;
}

.team-card {
  background-color: var(--blanco);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.team-card img {
  width: 100%;
  border-radius: 50%;
}

.team-card h5 {
  color: var(--azulBase);
  margin-top: 15px;
}
